<section id="middleSection">
  <div class="container">
    <div class="row" style="text-align:center">
      <div class="span12">
        <div class="well well-small">
          <h4>Welcome to Gurjargaud.com</h4>
          <p>"Gurjargaud.com, a top-notch online matrimonial site committed to deliver high quality matchmaking service to every eligible bride and groom. Technology meets tradition at this matrimonial website. Our mission is to hold your hand and lead you to your partner making your marriage possible soon. So, help us help you. Register FREE now with the new leader among India matrimony sites and start your search immediately.."<br/><br/></p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="bodySection">
  <div class="container">
    <div class="row">
      <h3 class="span12" style="text-align:center">
        Our Recent Events <%= link_to "<small>view all events</small>".html_safe, "javascript:void(0)" %>
      </h3>
      <div class="span4">
        <div class="thumbnail">
          <h4>Mobile Apps</h4>
          <p>
            <br/>We specialise in web design, web development and graphic design for different Desktop, Mobiles and Tablets.
            We recently introduce cheapest and best mobile web design packages in our services. <br/>
          </p>
        </div>
      </div>
      <div class="span4">
        <div class="thumbnail">
          <h4>Application Development</h4>
          <p>
            <br/>We specialise in web design, web development and graphic design for different Desktop, Mobiles and Tablets.
            We recently introduce cheapest and best mobile web design packages in our services.<br/>
          </p>
        </div>
      </div>
      <div class="span4">
        <div class="thumbnail">
          <h4>My web solutions</h4>
          <p>
            <br/>We specialise in web design, web development and graphic design for different Desktop, Mobiles and Tablets.
            We recently introduce cheapest and best mobile web design packages in our services. <br/>
          </p>
        </div>
      </div>
    </div>
    <br/>
  </div>
</section>
