<section id="footerSection">
  <div class="container">
    <footer class="footer well well-small center">
      <p style="padding:18px 0 44px">
        Copyright © 2010
        <%= link_to "Vivha Vedi", "javascript:void(0)" %>
        |
        Designed by
        <%= link_to "Future Bright", "javascript:void(0)" %>
      </p>
    </footer>
  </div><!-- /container -->
</section>
<%= link_to '<i class="icon-arrow-up"></i>Go to top'.html_safe, "javascript:void(0)", class: 'btn', id: "toTop", style: "position: fixed; bottom: 38px; right: 10px; display: none;" %>
